.custom-grid {
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: auto 180px;
  gap: 1.5rem; /* This matches the gap-6 in Tailwind */
}

.custom-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem; /* This matches the rounded-2xl in Tailwind */
}

.custom-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

@media only screen and (max-width: 639px) {
  .custom-grid {
    display: grid;
    grid-template-rows: 400px 160px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem; /* This matches the gap-6 in Tailwind */
  }

  .custom-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem; /* This matches the rounded-2xl in Tailwind */
  }

  .custom-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .custom-grid {
    display: grid;
    grid-template-rows: 460px 160px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem; /* This matches the gap-6 in Tailwind */
  }

  .custom-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem; /* This matches the rounded-2xl in Tailwind */
  }

  .custom-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}
@media only screen and (max-width: 1023px) {
  .custom-grid {
    gap: 1rem; /* This matches the gap-6 in Tailwind */
  }
}
