/* .ant-tabs-nav-list .ant_tabs_tab {
  padding: 0;
  padding-bottom: 30px;
}
.ant-tabs-nav-list .ant_tabs_tab:not(:first-child) {
  margin-left: 24px;
} */
.home-selector .ant-select .ant-select-selector {
  /* padding: 16px; */
  background-color: #f8f8fa;
  border: none;
}
.home-selector .ant-select {
  border-radius: 16px;
  overflow: hidden;
}
