.passport-given-selector .ant-select .ant-select-selector {
  padding: 16px;
  background-color: #f8f8fa;
  border: none;
}

.passport-given-selector .ant-select {
  border-radius: 16px;
  overflow: hidden;
}

.date-picker .ant-select .ant-select-selector {
  padding: 16px;
  background-color: #f8f8fa;
  border: none;
}

.date-picker .ant-select {
  border-radius: 16px;
  overflow: hidden;
}
